page-dashboard {

	
}
.chats-page-content {
  .chat-picture {
    border-radius: 50%;
    width: 180px;
    float: left;
  }

  .chat-title {
    float: right;
    margin: 0px 0px 0px 0px;
  }

  .chat-title-1 {
    float: right;
    margin: 0px 0px 0px 0px;
    color: red;
  }

  .chat-title-2 {
    float: right;
    margin: 0px 0px 0px 0px;
    color: green;
  }

  .own {
    float: left;
    margin-top: 0px;
  }

  .custom-icon {
    float: right;
    margin: 0px 0px 0px 0px;
    color : red;
  }

}